@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&display=swap");

body {
  margin: 0;
  font-family: "Baloo Da 2", cursive;
}
header h1 {
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type="text" i] {
  width: 40px;
  text-align: center;
}
#color {
  width: 240px;
  height: 100px;

  margin-top: 10px;

  border-radius: 10px;
}
footer {
  position: fixed;
  bottom: 2px;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer a {
  text-decoration: none;
}